.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.text-underline {
    text-decoration: underline;
}

.fs-hero-title {
    font-size: var(--fs-hero-title);
}

.lh-200 {
    line-height: var(--lh-200);
}
