.why-choose-us-list{
    li{
        max-width: 230px;
        margin: 0 auto;
        .descrip-icon{
            max-width: 70px;
            margin: 0 auto;
            margin-bottom: .9em;
        }
    }
}