.main-toolbar{
    min-height: 90px;
    // border-bottom: 1px solid black;
    .user-profile {
        display: block;
        button{
            max-width: 25px;
        }
        div:last-child {
            opacity: 0;
            transform: translateY(-200%);
            transition: all ease-in 300ms;
        }
    
        &:hover {
            div:last-child {
                opacity: 1;
                transform: translateY(0);
                transition: all ease-in 300ms;
            }
        }
    }
    
}
