.fs-140 {
    font-size: var(--fs-140);
}
.fs-nav {
    font-size: var(--fs-nav);
}
.fs-150 {
    font-size: var(--fs-150);
}
.fs-200 {
    font-size: var(--fs-200);
}
.fs-250 {
    font-size: var(--fs-250);
}

.fs-section-title {
    font-size: var(--fs-section-title);
}

.text-interaction {
    color: var(--color-interaction);
}

.text-accent {
    color: var(--color-accent);
}

.text-text {
    color: var(--color-text);
}

.text-light {
    color: var(--color-light);
}

.text-alt {
    color: var(--color-text-alt);
}

.bg-interaction {
    background-color: var(--color-interaction);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-text {
    background-color: var(--color-text);
}

.bg-light {
    background-color: var(--color-light);
}

.mt-size-50 {
    margin-top: var(--size-50);
}
.mt-size-100 {
    margin-top: var(--size-100);
}
.mt-size-250 {
    margin-top: var(--size-250);
}
.mt-size-300 {
    margin-top: var(--size-300);
}
.mt-size-500 {
    margin-top: var(--size-500);
}
//
.mb-size-50 {
    margin-bottom: var(--size-50);
}
.mb-size-100 {
    margin-bottom: var(--size-100);
}
.mb-size-250 {
    margin-bottom: var(--size-250);
}
.mb-size-300 {
    margin-bottom: var(--size-300);
}
.mb-size-500 {
    margin-bottom: var(--size-500);
}
//
.pt-size-50 {
    padding-top: var(--size-50);
}
.pt-size-100 {
    padding-top: var(--size-100);
}
.pt-size-250 {
    padding-top: var(--size-250);
}
.pt-size-300 {
    padding-top: var(--size-300);
}
.pt-size-500 {
    padding-top: var(--size-500);
}
//
.pb-size-50 {
    padding-bottom: var(--size-50);
}
.pb-size-100 {
    padding-bottom: var(--size-100);
}
.pb-size-250 {
    padding-bottom: var(--size-250);
}
.pb-size-300 {
    padding-bottom: var(--size-300);
}
.pb-size-500 {
    padding-bottom: var(--size-500);
}
